### Python - Introduction

In [28]:
# Addition
2+1

3

In [29]:
# Subtraction
2-1

1

In [30]:
# Multiplication
2*2

4

In [31]:
# Division
3/2

1.5

In [32]:
# Floor Division
7//4

1

**So what if we just want the remainder after division?**

In [33]:
# Modulo
7%4

3

4 goes into 7 once, with a remainder of 3. The % operator returns the remainder after division.

In [34]:
# Powers
2**3

8

In [35]:
# Can also do roots this way
4**0.5

2.0

In [36]:
# Order of Operations followed in Python
2 + 10 * 10 + 3

105

In [37]:
# Can use parentheses to specify orders
(2+10) * (10+3)

156

##### Variable Assignments

Now that we've seen how to use numbers in Python as a calculator let's see how we can assign names and create variables.

We use a single equals sign to assign labels to variables. Let's see a few examples of how we can do this.

In [38]:
# Let's create an object called "a" and assign it the number 5
a = 5

Now if I call *a* in my Python script, Python will treat it as the number 5.

In [39]:
# Adding the objects
a+a

10

What happens on reassignment? Will Python let us write it over?

In [40]:
# Reassignment
a = 10

In [41]:
# Check
a

10

In [42]:
my_dogs = 2

In [43]:
my_dogs

2

In [44]:
my_dogs = ['Sammy', 'Frankie']

In [45]:
my_dogs

['Sammy', 'Frankie']

#### Assigning Variables
Variable assignment follows `name = object`, where a single equals sign `=` is an *assignment operator*

In [46]:
a = 5

In [47]:
a

5

Here we assigned the integer object `5` to the variable name `a`.<br>Let's assign `a` to something else:

In [48]:
a = 10

In [49]:
a

10

You can now use `a` in place of the number `10`:

In [50]:
a + a

20

In [51]:
a = a + 10

In [52]:
a

20

#### Determining variable type with `type()`
You can check what type of object is assigned to a variable using Python's built-in `type()` function. Common data types include:
* **int** (for integer)
* **float**
* **str** (for string)
* **list**
* **tuple**
* **dict** (for dictionary)
* **set**
* **bool** (for Boolean True/False)

In [53]:
type(a)

int

In [54]:
a = (1,2)

In [55]:
type(a)

tuple

#### Simple Exercise
This shows how variables make calculations more readable and easier to follow.

In [56]:
my_income = 100
tax_rate = 0.1
my_taxes = my_income * tax_rate

In [57]:
my_taxes

10.0

##### Creating a String
To create a string in Python you need to use either single quotes or double quotes. For example:

In [58]:
# Single word
'hello'

'hello'

In [59]:
# Entire phrase 
'This is also a string'

'This is also a string'

In [60]:
# We can also use double quote
"String built with double quotes"

'String built with double quotes'

##### Printing a String

Using Jupyter notebook with just a string in a cell will automatically output strings, but the correct way to display strings in your output is by using a print function.

In [61]:
# We can simply declare a string
'Hello World'

'Hello World'

##### String Basics

We can also use a function called len() to check the length of a string!

In [62]:
len('Hello World')

11

Python's built-in len() function counts all of the characters in the string, including spaces and punctuation.

##### String Indexing
We know strings are a sequence, which means Python can use indexes to call parts of the sequence. Let's learn how this works.

In Python, we use brackets <code>[]</code> after an object to call its index. We should also note that indexing starts at 0 for Python. Let's create a new object called <code>s</code> and then walk through a few examples of indexing.

In [63]:
# Assign s as a string
s = 'Hello World'

In [64]:
#Check
s

'Hello World'

In [65]:
# Print the object
print(s)

Hello World

Let's start indexing!

In [66]:
# Show first element (in this case a letter)
s[0]

'H'

In [67]:
s[1]

'e'

In [68]:
s[2]

'l'

We can use a <code>:</code> to perform *slicing* which grabs everything up to a designated point. For example:

In [69]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'ello World'

In [70]:
# Note that there is no change to the original s
s

'Hello World'

In [71]:
# Grab everything UP TO the 3rd index
s[:3]

'Hel'

Note the above slicing. Here we're telling Python to grab everything from 0 up to 3. It doesn't include the 3rd index. You'll notice this a lot in Python, where statements and are usually in the context of "up to, but not including".

In [72]:
#Everything
s[:]

'Hello World'

We can also use negative indexing to go backwards.

In [73]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'd'

In [74]:
# Grab everything but the last letter
s[:-1]

'Hello Worl'

We can also use index and slice notation to grab elements of a sequence by a specified step size (the default is 1). For instance we can use two colons in a row and then a number specifying the frequency to grab elements. For example:

In [75]:
# Grab everything, but go in steps size of 1
s[::1]

'Hello World'

In [76]:
# Grab everything, but go in step sizes of 2
s[::2]

'HloWrd'

In [77]:
# We can use this to print a string backwards
s[::-1]

'dlroW olleH'

#### String Properties
It's important to note that strings have an important property known as *immutability*. This means that once a string is created, the elements within it can not be changed or replaced. For example:

In [78]:
s

'Hello World'

In [79]:
# Let's try to change the first letter to 'x'
s[0] = 'x'

TypeError: 'str' object does not support item assignment

Notice how the error tells us directly what we can't do, change the item assignment!

Something we *can* do is concatenate strings!

In [80]:
s

'Hello World'

In [81]:
# Concatenate strings!
s + ' concatenate me!'

'Hello World concatenate me!'

In [82]:
# We can reassign s completely though!
s = s + ' concatenate me!'

In [83]:
print(s)

Hello World concatenate me!

In [84]:
s

'Hello World concatenate me!'

We can use the multiplication symbol to create repetition!

In [85]:
letter = 'z'

In [86]:
letter*10

'zzzzzzzzzz'

##### Basic Built-in String methods

Objects in Python usually have built-in methods. These methods are functions inside the object (we will learn about these in much more depth later) that can perform actions or commands on the object itself.

We call methods with a period and then the method name. Methods are in the form:

object.method(parameters)

Where parameters are extra arguments we can pass into the method. Don't worry if the details don't make 100% sense right now. Later on we will be creating our own objects and functions!

Here are some examples of built-in methods in strings:

In [87]:
s

'Hello World concatenate me!'

In [88]:
# Upper Case a string
s.upper()

'HELLO WORLD CONCATENATE ME!'

In [89]:
# Lower case
s.lower()

'hello world concatenate me!'

In [90]:
# Split a string by blank space (this is the default)
s.split()

['Hello', 'World', 'concatenate', 'me!']

In [91]:
# Split by a specific element (doesn't include the element that was split on)
s.split('W')

['Hello ', 'orld concatenate me!']

There are many more methods than the ones covered here. Visit the Advanced String section to find out more!

##### Print Formatting

We can use the .format() method to add formatted objects to printed string statements. 

The easiest way to show this is through an example:

In [92]:
'Insert another string with curly brackets: {}'.format('The inserted string')

'Insert another string with curly brackets: The inserted string'

##### Formatted String Literals (f-strings)

Introduced in Python 3.6, f-strings offer several benefits over the older `.format()` string method described above. For one, you can bring outside variables immediately into to the string rather than pass them as arguments through `.format(var)`.

In [93]:
name = 'Fred'

print(f"He said his name is {name}.")

He said his name is Fred.

Pass `!r` to get the string representation:

In [94]:
print(f"He said his name is {name!r}")

He said his name is 'Fred'

##### Float formatting follows `"result: {value:{width}.{precision}}"`

Where with the `.format()` method you might see `{value:10.4f}`, with f-strings this can become `{value:{10}.{6}}`

In [95]:
num = 23.45678
print("My 10 character, four decimal number is:{0:10.4f}".format(num))
print(f"My 10 character, four decimal number is:{num:{10}.{6}}")

My 10 character, four decimal number is:   23.4568
My 10 character, four decimal number is:   23.4568

Note that with f-strings, *precision* refers to the total number of digits, not just those following the decimal. This fits more closely with scientific notation and statistical analysis. Unfortunately, f-strings do not pad to the right of the decimal, even if precision allows it:

In [96]:
num = 23.45
print("My 10 character, four decimal number is:{0:10.4f}".format(num))
print(f"My 10 character, four decimal number is:{num:{10}.{6}}")

My 10 character, four decimal number is:   23.4500
My 10 character, four decimal number is:     23.45

If this becomes important, you can always use `.format()` method syntax inside an f-string:

In [97]:
num = 23.45
print("My 10 character, four decimal number is:{0:10.4f}".format(num))
print(f"My 10 character, four decimal number is:{num:10.4f}")

My 10 character, four decimal number is:   23.4500
My 10 character, four decimal number is:   23.4500

In [98]:
# Assign a list to an variable named my_list
my_list = [1,2,3]

We just created a list of integers, but lists can actually hold different object types. For example:

In [99]:
my_list = ['A string',23,100.232,'o']

Just like strings, the len() function will tell you how many items are in the sequence of the list.

In [100]:
len(my_list)

4

#### Indexing and Slicing
Indexing and slicing work just like in strings. Let's make a new list to remind ourselves of how this works:

In [101]:
my_list = ['one','two','three',4,5]

In [102]:
# Grab element at index 0
my_list[0]

'one'

In [103]:
# Grab index 1 and everything past it
my_list[1:]

['two', 'three', 4, 5]

In [104]:
# Grab everything UP TO index 3
my_list[:3]

['one', 'two', 'three']

We can also use + to concatenate lists, just like we did for strings.

In [105]:
my_list + ['new item']

['one', 'two', 'three', 4, 5, 'new item']

Note: This doesn't actually change the original list!

In [106]:
my_list

['one', 'two', 'three', 4, 5]

You would have to reassign the list to make the change permanent.

In [107]:
# Reassign
my_list = my_list + ['add new item permanently']

In [108]:
my_list

['one', 'two', 'three', 4, 5, 'add new item permanently']

We can also use the * for a duplication method similar to strings:

In [109]:
# Make the list double
my_list * 2

['one',
 'two',
 'three',
 4,
 5,
 'add new item permanently',
 'one',
 'two',
 'three',
 4,
 5,
 'add new item permanently']

In [110]:
# Again doubling not permanent
my_list

['one', 'two', 'three', 4, 5, 'add new item permanently']

#### Basic List Methods

If you are familiar with another programming language, you might start to draw parallels between arrays in another language and lists in Python. Lists in Python however, tend to be more flexible than arrays in other languages for a two good reasons: they have no fixed size (meaning we don't have to specify how big a list will be), and they have no fixed type constraint (like we've seen above).

Let's go ahead and explore some more special methods for lists:

In [111]:
# Create a new list
list1 = [1,2,3]

Use the **append** method to permanently add an item to the end of a list:

In [112]:
# Append
list1.append('append me!')

In [113]:
# Show
list1

[1, 2, 3, 'append me!']

Use **pop** to "pop off" an item from the list. By default pop takes off the last index, but you can also specify which index to pop off. Let's see an example:

In [114]:
# Pop off the 0 indexed item
list1.pop(0)

1

In [115]:
# Show
list1

[2, 3, 'append me!']

In [116]:
# Assign the popped element, remember default popped index is -1
popped_item = list1.pop()

In [117]:
popped_item

'append me!'

In [118]:
# Show remaining list
list1

[2, 3]

It should also be noted that lists indexing will return an error if there is no element at that index. For example:

In [119]:
list1[100]

IndexError: list index out of range

We can use the **sort** method and the **reverse** methods to also effect your lists:

In [120]:
new_list = ['a','e','x','b','c']

In [121]:
#Show
new_list

['a', 'e', 'x', 'b', 'c']

In [122]:
# Use reverse to reverse order (this is permanent!)
new_list.reverse()

In [123]:
new_list

['c', 'b', 'x', 'e', 'a']

In [124]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)
new_list.sort()

In [125]:
new_list

['a', 'b', 'c', 'e', 'x']

#### Nesting Lists
A great feature of of Python data structures is that they support *nesting*. This means we can have data structures within data structures. For example: A list inside a list.

Let's see how this works!

In [126]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]

In [127]:
# Show
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

We can again use indexing to grab elements, but now there are two levels for the index. The items in the matrix object, and then the items inside that list!

In [128]:
# Grab first item in matrix object
matrix[0]

[1, 2, 3]

In [129]:
# Grab first item of the first item in the matrix object
matrix[0][0]

1

#### List Comprehensions
Python has an advanced feature called list comprehensions. They allow for quick construction of lists. To fully understand list comprehensions we need to understand for loops. So don't worry if you don't completely understand this section, and feel free to just skip it since we will return to this topic later.

But in case you want to know now, here are a few examples!

In [130]:
# Build a list comprehension by deconstructing a for loop within a []
first_col = [row[0] for row in matrix]

In [131]:
first_col

[1, 4, 7]

#### Dictionaries

We've been learning about *sequences* in Python but now we're going to switch gears and learn about *mappings* in Python. If you're familiar with other languages you can think of these Dictionaries as hash tables. 

This section will serve as a brief introduction to dictionaries and consist of:

    1.) Constructing a Dictionary
    2.) Accessing objects from a dictionary
    3.) Nesting Dictionaries
    4.) Basic Dictionary Methods

So what are mappings? Mappings are a collection of objects that are stored by a *key*, unlike a sequence that stored objects by their relative position. This is an important distinction, since mappings won't retain order since they have objects defined by a key.

A Python dictionary consists of a key and then an associated value. That value can be almost any Python object.


#### Constructing a Dictionary
Let's see how we can construct dictionaries to get a better understanding of how they work!

In [132]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {'key1':'value1','key2':'value2'}

In [133]:
# Call values by their key
my_dict['key2']

'value2'

Its important to note that dictionaries are very flexible in the data types they can hold. For example:

In [134]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [135]:
# Let's call items from the dictionary
my_dict['key3']

['item0', 'item1', 'item2']

In [136]:
# Can call an index on that value
my_dict['key3'][0]

'item0'

In [137]:
# Can then even call methods on that value
my_dict['key3'][0].upper()

'ITEM0'

We can affect the values of a key as well. For instance:

In [138]:
my_dict['key1']

123

In [139]:
# Subtract 123 from the value
my_dict['key1'] = my_dict['key1'] - 123

In [140]:
#Check
my_dict['key1']

0

A quick note, Python has a built-in method of doing a self subtraction or addition (or multiplication or division). We could have also used += or -= for the above statement. For example:

In [141]:
# Set the object equal to itself minus 123 
my_dict['key1'] -= 123
my_dict['key1']

-123

We can also create keys by assignment. For instance if we started off with an empty dictionary, we could continually add to it:

In [142]:
# Create a new dictionary
d = {}

In [143]:
# Create a new key through assignment
d['animal'] = 'Dog'

In [144]:
# Can do this with any object
d['answer'] = 42

In [145]:
#Show
d

{'animal': 'Dog', 'answer': 42}

#### Nesting with Dictionaries

Hopefully you're starting to see how powerful Python is with its flexibility of nesting objects and calling methods on them. Let's see a dictionary nested inside a dictionary:

In [146]:
# Dictionary nested inside a dictionary nested inside a dictionary
d = {'key1':{'nestkey':{'subnestkey':'value'}}}

Wow! That's a quite the inception of dictionaries! Let's see how we can grab that value:

In [147]:
# Keep calling the keys
d['key1']['nestkey']['subnestkey']

'value'

#### A few Dictionary Methods

There are a few methods we can call on a dictionary. Let's get a quick introduction to a few of them:

In [148]:
# Create a typical dictionary
d = {'key1':1,'key2':2,'key3':3}

In [149]:
# Method to return a list of all keys 
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [150]:
# Method to grab all values
d.values()

dict_values([1, 2, 3])

In [151]:
# Method to return tuples of all items  (we'll learn about tuples soon)
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

We used a list comprehension here to grab the first element of every row in the matrix object. We will cover this in much more detail later on!

For more advanced methods and features of lists in Python, check out the Advanced Lists section later on in this course!

#### Tuples

In Python tuples are very similar to lists, however, unlike lists they are *immutable* meaning they can not be changed. You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar. 

In this section, we will get a brief overview of the following:

    1.) Constructing Tuples
    2.) Basic Tuple Methods
    3.) Immutability
    4.) When to Use Tuples

You'll have an intuition of how to use tuples based on what you've learned about lists. We can treat them very similarly with the major distinction being that tuples are immutable.

#### Constructing Tuples

The construction of a tuples use () with elements separated by commas. For example:

In [152]:
# Create a tuple
t = (1,2,3)

In [153]:
# Check len just like a list
len(t)

3

In [154]:
# Can also mix object types
t = ('one',2)

# Show
t

('one', 2)

In [155]:
# Use indexing just like we did in lists
t[0]

'one'

In [156]:
# Slicing just like a list
t[-1]

2

#### Basic Tuple Methods

Tuples have built-in methods, but not as many as lists do. Let's look at two of them:

In [157]:
# Use .index to enter a value and return the index
t.index('one')

0

In [158]:
# Use .count to count the number of times a value appears
t.count('one')

1

#### Immutability

It can't be stressed enough that tuples are immutable. To drive that point home:

In [159]:
t[0]= 'change'

TypeError: 'tuple' object does not support item assignment

Because of this immutability, tuples can't grow. Once a tuple is made we can not add to it.

In [160]:
t.append('nope')

AttributeError: 'tuple' object has no attribute 'append'

#### Set and Booleans

There are two other object types in Python that we should quickly cover: Sets and Booleans. 

#### Sets

Sets are an unordered collection of *unique* elements. We can construct them by using the set() function. Let's go ahead and make a set to see how it works

In [161]:
x = set()

In [162]:
# We add to sets with the add() method
x.add(1)

In [163]:
#Show
x

{1}

Note the curly brackets. This does not indicate a dictionary! Although you can draw analogies as a set being a dictionary with only keys.

We know that a set has only unique entries. So what happens when we try to add something that is already in a set?

In [164]:
# Add a different element
x.add(2)

In [165]:
#Show
x

{1, 2}

In [166]:
# Try to add the same element
x.add(1)

In [167]:
#Show
x

{1, 2}

Notice how it won't place another 1 there. That's because a set is only concerned with unique elements! We can cast a list with multiple repeat elements to a set to get the unique elements. For example:

In [168]:
# Create a list with repeats
list1 = [1,1,2,2,3,4,5,6,1,1]

In [169]:
# Cast as set to get unique values
set(list1)

{1, 2, 3, 4, 5, 6}

#### Booleans

Python  comes with Booleans (with predefined True and False displays that are basically just the integers 1 and 0). It also has a placeholder object called None. Let's walk through a few quick examples of Booleans (we will dive deeper into them later in this course).

In [170]:
# Set object to be a boolean
a = True

In [171]:
#Show
a

True

We can also use comparison operators to create booleans. We will go over all the comparison operators later on in the course.

In [172]:
# Output is boolean
1 > 2

False

We can use None as a placeholder for an object that we don't want to reassign yet:

In [173]:
# None placeholder
b = None

In [174]:
# Show
print(b)

None

#### Files

Python uses file objects to interact with external files on your computer. These file objects can be any sort of file you have on your computer, whether it be an audio file, a text file, emails, Excel documents, etc. Note: You will probably need to install certain libraries or modules to interact with those various file types, but they are easily available. (We will cover downloading modules later on in the course).

Python has a built-in open function that allows us to open and play with basic file types. First we will need a file though. We're going to use some IPython magic to create a text file!

#### IPython Writing a File 
#### This function is specific to jupyter notebooks! Alternatively, quickly create a simple .txt file with sublime text editor.

In [175]:
%%writefile test.txt
Hello, this is a quick test file.

Writing test.txt

#### Python Opening a file

Let's being by opening the file test.txt that is located in the same directory as this notebook. For now we will work with files located in the same directory as the notebook or .py script you are using.

It is very easy to get an error on this step:

In [176]:
myfile = open('whoops.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'whoops.txt'

To avoid this error,make sure your .txt file is saved in the same location as your notebook, to check your notebook location, use **pwd**:

In [177]:
pwd

'C:\\Users\\asus\\Documents\\WPSDrive\\695420640\\WPS\\2024FALL\\MGS3101\\Programs\\Week1'

**Alternatively, to grab files from any location on your computer, simply pass in the entire file path. **

For Windows you need to use double \ so python doesn't treat the second \ as an escape character, a file path is in the form:

    myfile = open("C:\\Users\\YourUserName\\Home\\Folder\\myfile.txt")

For MacOS and Linux you use slashes in the opposite direction:

    myfile = open("/Users/YouUserName/Folder/myfile.txt")

In [178]:
# Open the text.txt we made earlier
my_file = open('test.txt')

In [179]:
# We can now read the file
my_file.read()

'Hello, this is a quick test file.\n'

In [180]:
# But what happens if we try to read it again?
my_file.read()

''

This happens because you can imagine the reading "cursor" is at the end of the file after having read it. So there is nothing left to read. We can reset the "cursor" like this:

In [181]:
# Seek to the start of file (index 0)
my_file.seek(0)

0

In [182]:
# Now read again
my_file.read()

'Hello, this is a quick test file.\n'

You can read a file line by line using the readlines method. Use caution with large files, since everything will be held in memory. We will learn how to iterate over large files later in the course.

In [183]:
# Readlines returns a list of the lines in the file
my_file.seek(0)
my_file.readlines()

['Hello, this is a quick test file.\n']

When you have finished using a file, it is always good practice to close it.

In [184]:
my_file.close()

#### Writing to a File

By default, the `open()` function will only allow us to read the file. We need to pass the argument `'w'` to write over the file. For example:

In [185]:
# Add a second argument to the function, 'w' which stands for write.
# Passing 'w+' lets us read and write to the file

my_file = open('test.txt','w+')

#### <strong><font color='red'>Use caution!</font></strong> 
Opening a file with `'w'` or `'w+'` truncates the original, meaning that anything that was in the original file **is deleted**!

In [186]:
# Write to the file
my_file.write('This is a new line')

18

In [187]:
# Read the file
my_file.seek(0)
my_file.read()

'This is a new line'

In [188]:
my_file.close()  # always do this when you're done with a file

#### Appending to a File
Passing the argument `'a'` opens the file and puts the pointer at the end, so anything written is appended. Like `'w+'`, `'a+'` lets us read and write to a file. If the file does not exist, one will be created.

In [189]:
my_file = open('test.txt','a+')
my_file.write('\nThis is text being appended to test.txt')
my_file.write('\nAnd another line here.')

23

In [190]:
my_file.seek(0)
print(my_file.read())

This is a new line
This is text being appended to test.txt
And another line here.

In [191]:
my_file.close()

#### Appending with `%%writefile`
We can do the same thing using IPython cell magic:

In [192]:
%%writefile -a test.txt

This is text being appended to test.txt
And another line here.

Appending to test.txt

Add a blank space if you want the first line to begin on its own line, as Jupyter won't recognize escape sequences like `\n`

#### Iterating through a File

Lets get a quick preview of a for loop by iterating over a text file. First let's make a new text file with some IPython Magic:

In [193]:
%%writefile test.txt
First Line
Second Line

Overwriting test.txt

Now we can use a little bit of flow to tell the program to for through every line of the file and do something:

In [194]:
for line in open('test.txt'):
    print(line)

First Line

Second Line

Don't worry about fully understanding this yet, for loops are coming up soon. But we'll break down what we did above. We said that for every line in this text file, go ahead and print that line. It's important to note a few things here:

1. We could have called the "line" object anything (see example below).
2. By not calling `.read()` on the file, the whole text file was not stored in memory.
3. Notice the indent on the second line for print. This whitespace is required in Python.

In [195]:
# Pertaining to the first point above
for asdf in open('test.txt'):
    print(asdf)

First Line

Second Line

#### Test your knowledge - Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [196]:
# Your answer is probably different
(60 + (10 ** 2) / 4 * 7) - 134.75

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [197]:
4 * (6 + 5)

44

In [198]:
4 * 6 + 5

29

In [199]:
4 + 6 * 5

34

What is the *type* of the result of the expression 3 + 1.5 + 4?

**Answer: Floating Point Number**

What would you use to find a numbers square root, as well as its square?

In [200]:
# Square root:
100 ** 0.5

10.0

In [201]:
# Square:
10 ** 2

100

#### Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [202]:
s = 'hello'
# Print out 'e' using indexing

s[1]

'e'

Reverse the string 'hello' using slicing:

In [203]:
s ='hello'
# Reverse the string using slicing

s[::-1]

'olleh'

Given the string 'hello', give two methods of producing the letter 'o' using indexing.

In [204]:
s ='hello'
# Print out the 'o'

# Method 1:

s[-1]

'o'

In [205]:
# Method 2:

s[4]

'o'

#### Lists

Build this list [0,0,0] two separate ways.

In [206]:
# Method 1:
[0]*3

[0, 0, 0]

In [207]:
# Method 2:
list2 = [0,0,0]
list2

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [208]:
list3 = [1,2,[3,4,'hello']]

In [209]:
list3[2][2] = 'goodbye'

In [210]:
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [211]:
list4 = [5,3,4,6,1]

In [212]:
# Method 1:
sorted(list4)

[1, 3, 4, 5, 6]

In [213]:
# Method 2:
list4.sort()
list4

[1, 3, 4, 5, 6]

#### Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [214]:
d = {'simple_key':'hello'}
# Grab 'hello'

d['simple_key']

'hello'

In [215]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'

d['k1']['k2']

'hello'

In [216]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

In [217]:
# This was harder than I expected...
d['k1'][0]['nest_key'][1][0]

'hello'

In [218]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [219]:
# Phew!
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?

**Answer: No! Because normal dictionaries are *mappings* not a sequence. **

#### Tuples

What is the major difference between tuples and lists?

**Tuples are immutable!**

How do you create a tuple?

In [220]:
t = (1,2,3)

#### Sets

What is unique about a set?

**Answer: They don't allow for duplicate items!**

Use a set to find the unique values of the list below:

In [221]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

In [222]:
set(list5)

{1, 2, 3, 4, 11, 22, 33}

#### Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [223]:
# Answer before running cell
2 > 3

False

In [224]:
# Answer before running cell
3 <= 2

False

In [225]:
# Answer before running cell
3 == 2.0

False

In [226]:
# Answer before running cell
3.0 == 3

True

In [227]:
# Answer before running cell
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [228]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

Thats it! You should now have a basic understanding of Python objects and data structure types. Next, go ahead and do the assessment test!

#### Thank You!

-----------------------------------------------------------------------------------------------------------------