In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
url = 'https://raw.githubusercontent.com/r2prof/Data/refs/heads/main/market_sales.csv'
df = pd.read_csv(url)

In [7]:
df

,Invoice_ID,Branch,City,Customer_Type,Gender,Product_Line,Unit_Price,Quantity,Tax_5_Percent,Total,Date,Time,Payment,Cogs,Gross_Margin_Percent,Gross_Income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [5]:
ske = df["Rating"].skew()
print(ske)

0.00900964876573073

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Invoice_ID            1000 non-null   object
 1   Branch                1000 non-null   object
 2   City                  1000 non-null   object
 3   Customer_Type         1000 non-null   object
 4   Gender                1000 non-null   object
 5   Product_Line          1000 non-null   object
 6   Unit_Price            1000 non-null   float64
 7   Quantity              1000 non-null   int64
 8   Tax_5_Percent         1000 non-null   float64
 9   Total                 1000 non-null   float64
 10  Date                  1000 non-null   object
 11  Time                  1000 non-null   object
 12  Payment               1000 non-null   object
 13  Cogs                  1000 non-null   float64
 14  Gross_Margin_Percent  1000 non-null   float64
 15  Gross_Income          1000 non-null   float64
 16  Rating                1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

In [13]:
df.shape

(1000, 17)

In [30]:
df.Payment.value_counts()

Payment
Ewallet        345
Cash           344
Credit card    311
Name: count, dtype: int64

In [20]:
df.groupby('Product_Line')['Gross_Income'].sum()

Product_Line
Electronic accessories    2587.5015
Fashion accessories       2585.9950
Food and beverages        2673.5640
Health and beauty         2342.5590
Home and lifestyle        2564.8530
Sports and travel         2624.8965
Name: Gross_Income, dtype: float64

In [28]:
df.groupby("Product_Line")["Unit_Price"].min()

Product_Line
Electronic accessories    10.56
Fashion accessories       10.18
Food and beverages        10.13
Health and beauty         10.08
Home and lifestyle        10.53
Sports and travel         10.17
Name: Unit_Price, dtype: float64

In [29]:
df.groupby("Branch")["Gross_Income"].sum()

Branch
A    5057.1605
B    5057.0320
C    5265.1765
Name: Gross_Income, dtype: float64

In [31]:
mean = df["Unit_Price"].mean()
print(mean)

55.67213

In [32]:
mean_gross_income_by_gender = df.groupby("Gender")["Gross_Income"].mean()
print(mean_gross_income_by_gender)

median_gross_income_by_gender = df.groupby("Gender")["Gross_Income"].median()
print(median_gross_income_by_gender)

Gender
Female    15.956936
Male      14.799487
Name: Gross_Income, dtype: float64
Gender
Female    12.98
Male      11.63
Name: Gross_Income, dtype: float64